
body {
  border: none;
}

button {
  font-family: "Anonymous Pro", monospace;
  height: 6vh;
  width: 6vh;
  display: block;
  float: left;
  font-size: 6vh;
  background: #F25675;
  box-sizing: border-box;
  color:  #56f2d3;
  margin: 1.6vh;
}

#answer {
  font-family: "Anonymous Pro", monospace;
  color: white;
  font-size: 9vh;
  height: 12.5vh;
  clear: right;
  margin: 4vh 1.2vh 0 2.4vh;
  text-align: center;
  padding-right: 1.5vh;
  position: relative;
  line-height: 13vh;
  width: 39.5vh;
  float: left;
}

#answer::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  content: '';
  color: white;
}

.calculator {
  background-color: black;
  width: calc(60vh);
  margin: 60px auto;
  position: relative;
  box-sizing: content-box;
  padding-bottom: 1vh;
}
.calculator::after,
.buttons::after {
  clear: both;
  content: '';
  display: block;
}

button.clear {
  margin-top: 2vh;
}

.numbers {
  width: 43.5vh;
  float: left;
  padding-left: 1vh;
}

.operators {
  width: 12.5vh;
  float: left;
  padding-right: 1vh;
}

.operators button {
  color: #272F1B;
  background: #2BAF85;
}

button.equals {
  position: absolute;
  bottom: 1vh;
  right: 15.5vh;
  background: dodgerblue;
}
